@page "/mandelbrotPageCPU"

<h3>Mandelbrot CPU Demo</h3>


<p>Example of Mandelbrot set using Blazor and CPU resources.</p>
<p>
    <table>
        <tr><td rowspan="12"><BasicCanvas @ref="Canvas2D"></BasicCanvas></td><td rowspan="12">&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td rowspan="12">@((MarkupString)ExecutionsDetails)</td></tr>
    </table>
</p>

<p>
    Currently the CPU accelerator is intended for GPU kernel development/debugging rather than CPU kernel performance.<br />
    Optimized CPU kernel performance will likely be added back in an upcoming release of ILGPU. <br />

<br />
    <Tooltip Text="Select Accelerator">
    <select name="DeviceSelect" @onchange="@UpdateSelected" disabled="@DisabledButtons">
        @foreach (var deviceName in SystemDeviceNames)
            {
               <option value="@deviceName">@deviceName</option>
            }
        </select>
    </Tooltip>

    <Tooltip Text='Profile All CPU based Mandelbrot'>
            <button class="btn btn-primary m-1" @onclick="ProfileMandelbrot" disabled="@DisabledButtons">Profile All CPU based Accelerators</button>
    </Tooltip>

    <Tooltip Text='CPU based "slow motion" Mandelbrot animation'>
        <button class="btn btn-primary m-1" @onclick="AnimateMandelbrot" disabled="@DisabledButtons">Mandelbrot Animation</button>
    </Tooltip>



    </p>
